.sidebar-container{

    display: flex;
    justify-content: center;

    .sidebar-main{

        background-color: #f4f6f4;
        box-shadow:
    0px 0px 3.6px rgba(0, 0, 0, 0.024),
    0px 0px 10px rgba(0, 0, 0, 0.035),
    0px 0px 24.1px rgba(0, 0, 0, 0.046),
    0px 0px 80px rgba(0, 0, 0, 0.07);

        
        // .top{
        //     height: 10px;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
            
        //     .logo{
        //         font-weight: bold;

        //     }
        // }

        .center{
            //background-color: beige;

            
            ul{
                display: flex;
                justify-content: center;
                list-style: none;
                margin: 0px;
                padding: 0px;


                li{
                    //background-color: red;
                    display: flex;
                    align-items: center;
                    padding: 10px 30px;
                    cursor: pointer;
                    color: #424457;

                    .sidebar-text{
                        margin-left: 5px;
                    }

                    &:hover {
                        background: #ebebeb;
                    }
                }
            }
        }
    }

}
